@import 'tailwindcss/utilities';

@import url('https://fonts.googleapis.com/css2?family=Google+Sans&display=swap');

@layer utilities {
  .font-google-sans {
    font-family: 'Google Sans', sans-serif;
  }
  
  .rainbow-text {
    font-size: 4rem;
    font-weight: bold;
    background: linear-gradient(90deg, red, orange, yellow, green, blue, indigo, violet);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: rainbow 6s linear infinite;
  }
}

@keyframes rainbow {
  0% { background-position: 0%; }
  100% { background-position: 400%; }
}
